<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.cohorte.ecf.provider.jabsorb.identity.JabsorbNamespace"
            description="Jabsorb Namespace"
            name="ecf.namespace.jabsorb">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.cohorte.ecf.provider.jabsorb.JabsorbContainerInstantiator"
            description="Jabsorb Host container instantiator"
            hidden="false"
            name="ecf.jabsorb"
            server="true">
      </containerFactory>
   </extension>
</plugin>
